<html>

<body>
    <h1>Edit Your Quotes Here</h1>
    <form action="/edit" method="POST">
        <input type="hidden" id="_id" name="_id" value="{{data["_id"]}}" />
        <tr>
            <td>
                <label for="quote" style="display: block;">Quote</label>
            </td>
            <td>
                <textarea type="text" id="quote" name="quote" cols="40" rows="5">{{data["text"]}}</textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label style="display: block;" for="author">Author</label>
            </td>
            <td>
                <input style="display: block;" type="text" id="author" name="author" placeholder="Author"
                    value="{{data["author"]}}" />
            </td>
        </tr>
        <tr>
            <td>
                <label style="display: block;" for="public">Make Quote Public?</label>
            </td>
            <td>
                <input type="checkbox" id="public" name="public" />
            </td>
        </tr>
        </table>
        <button type="submit">Submit</button>
        <a href="/"><button>Cancel</button></a>
    </form>
</body>

</html>