<html>

<body>
    <h1>Quotes</h1>
    <hr>
    <table>
        {% for item in data %}
        <tr>
            <td>
                {{item["text"]}}
            </td>
            <td>
                <em>--</em>
                <em>{{item["author"]}}</em>
            </td>
            <td>
                [
                <a href="/delete/{{item['_id']}}">Remove Quote</a>
                <a href="/edit/{{item['_id']}}">Edit Quote</a>
                ]
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr />
    <a href="/create"><button>Create a quote</button></a>
    <hr />
    Current User: {{user}}
    <hr />
    You have been here {{number_of_visits}} times!
    <hr />
    Session Id is{{session_id}}
    <a href="/logout"><button>Logout</button></a>
</body>

</html>