<html>

<body>
    <h1>Add Quotes Here</h1>
    <form action="/create" method="POST">
        <table>
            <tr>
                <td>
                    <label for="quote">Quote</label>
                </td>
                <td>
                    <input type="text" id="quote" name="quote" placeholder="Enter Quote" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="author">Author</label>
                </td>
                <td>
                    <input type="text" id="author" name="author" placeholder="Enter Author" />
                </td>
            </tr>
        </table>
        <button type="submit">Submit</button>
    </form>
</body>

</html>