<html>

<body>
    <h1>Edit Your Quotes Here</h1>
    <form action="/edit" method="POST">
        <table>
            <tr>
                <td>
                    <label for="quote">Quote</label>
                </td>
                <td>
                    <textarea type="text" id="editQuote" name="editQuote" cols="40" rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="author">Author</label>
                </td>
                <td>
                    <input type="text" id="editAuthor" name="editAuthor" placeholder="Author" />
                </td>
            </tr>
        </table>
        <button type="submit">Submit</button>
    </form>
    <a href="/"><button>Cancel</button></a>
</body>

</html>