<html>

<body>
    <h1>Quotes</h1>
    <hr>
    <table>
        {% for item in data %}
        <tr>
            <td>
                {{item["text"]}}
            </td>
            <td>
                <em>--</em>
                <em>{{item["author"]}}</em>
            </td>
            <td>
                [
                <a href="/delete/{{item['_id']}}">Remove Quote</a>
                <a href="/edit/{{item['_id']}}">Edit Quote</a>
                ]
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/create"><button>Create a quote</button></a>
</body>

</html>